[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Generateur de boutons CSS3 - Design et programmation web2 - Dji
Type=Link
URL=http://www.debray-jerome.fr/outils/Generateur-de-boutons-css3.html
Icon=text-html
