#profil {
	width: 900px;
	margin-left: 30px;
}

/*#profil img {
	background: url('./images/bandeau-site.jpg');
	margin: 0 auto;
	margin-top: 35px;
	margin-left: 35px;
	width:170px;
	height:170px;
	border:2px solid #679403; 
}*/

#profil-infos {
	padding: 20px;
	border-radius: 15px;
	border:2px solid silver; 
	font-size: 15px;
}

#profil-gauche, 
#profil-droite {
	display: inline-block;
	vertical-align: top;
}

.elem_paragraphe:hover {
	color: green;
}

#profil-gauche {
	margin-right: 40%;
}

.ami {
	width: 80px;
	height: 80px;
	border: 1px solid;
	display: inline-block;
}

#lien-ami {
	text-decoration: none;
}


